
PruebaEjemplo_Caja/.vs/CajeroAutomatico_Grupo3/v16/Server/sqlite3/storage.ide
PruebaEjemplo_Caja/.vs/CajeroAutomatico_Grupo3/DesignTimeBuild/.dtbcache
PruebaEjemplo_Caja/.vs/CajeroAutomatico_Grupo3/v16/.suo
PruebaEjemplo_Caja/.vs/CajeroAutomatico_Grupo3/v16/Server/sqlite3/db.lock
PruebaEjemplo_Caja/obj/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.csprojAssemblyReference.cache
PruebaEjemplo_Caja/bin/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.dll
PruebaEjemplo_Caja/.vs/CajeroAutomatico_Grupo3/v16/Server/sqlite3/storage.ide-shm
PruebaEjemplo_Caja/bin/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.dll
PruebaEjemplo_Caja/.vs/CajeroAutomatico_Grupo3/v16/Server/sqlite3/storage.ide-wal
PruebaEjemplo_Caja/bin/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.pdb
PruebaEjemplo_Caja/bin/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.dll
PruebaEjemplo_Caja/obj/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.dll
PruebaEjemplo_Caja/obj/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.pdb
PruebaEjemplo_Caja/Program.cs
PruebaEjemplo_Caja/Program.cs
PruebaEjemplo_Caja/Program.cs
PruebaEjemplo_Caja/obj/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.pdb
PruebaEjemplo_Caja/bin/Debug/netcoreapp2.1/CajeroAutomatico_Grupo3.dll
*.dll
*.pdb
*.dll
